<!Doctype html>
<html ng-app="MenuCategoriesApp">

<head>
    <title>Menu Categories</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Using $http Service</h1>
    <div ng-controller="MenuCategoriesController as menu">
        <ul>
            <h3>List of Menu Categories</h3>
            <li ng-repeat="category in menu.categories">
                (
                <a href="" ng-click="menu.logMenuItems(category.short_name);">
                    {{category.short_name}}</a>) {{category.name}}
            </li>
        </ul>
    </div>

</body>

</html>