<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Directives With Their Own Controllers</title>
    <link rel="stylesheet" type="text/css" href="app.css" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script type="text/javascript" src="../../../angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
    <h1>Directives with their own Controllers</h1>
    <div ng-app="ShoppingListApp">
        <div ng-controller="ShoppingListController as list">
            <input type="text" ng-model="list.itemName" placeholder="Item Name">
            <input type="number" ng-model="list.itemQuantity" placeholder="Item Quantity">
            <button ng-click="list.addItem()">Add Item</button>
            <shopping-list items="list.items" title="{{list.title}}"></shopping-list>
        </div>
    </div>
</body>
</html>